{
    "version": 1,
    "formatters": {
        "siemplify_default_formatter": {
            "format": "[%(asctime)s %(levelname)s] %(message)s",
            "datefmt": "%Y-%m-%d,%H:%M:%S,000"
        }
    },
    "handlers": {
        "siemplify_console_handler": {
            "class": "logging.StreamHandler",
            "level": "DEBUG",
            "formatter": "siemplify_default_formatter"
        },
        "siempify_file_handler": {
            "class": "logging.handlers.RotatingFileHandler",
            "level": "INFO",
            "formatter": "siemplify_default_formatter",
            "filename": "//var//log/siemplify//scripting//script.log",
            "maxBytes": 5242880,
            "backupCount": 10
        }
    },
    "loggers": {
        "siemplify_default_logger": {
            "level": "DEBUG",
            "handlers": [
                "siemplify_console_handler",
                "siempify_file_handler"
            ]
        }
    },
    "disable_existing_loggers": false
}